<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link href="./dist/index.css" rel="stylesheet"> -->

<style>
   .chessboard {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    width: 400px;
    height: 400px;
    transform: rotate(0deg);
    border: 2px solid #fff;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Segoe UI Symbol", "Arial Unicode MS", sans-serif;
}

.square.light {
    background-color: #f0d9b5;
}

.square.dark {
    background-color: #b58863;
}

.piece {
    font-size: 36px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece.white {
    color: white;
    background-color: rgba(0, 0, 0, 0.4); /* contrast for visibility */
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.9));
}

.piece.black {
    color: black;
}

.piece.draggable {
    cursor: grab;
}

.dragging {
    opacity: 0.5;
}

.flipped {
    transform: rotate(180deg);
}

.flipped .piece {
    transform: rotate(180deg);
}


</style>
</head>
<body>
<div class="w-full h-screen flex items-center justify-center bg-zinc-900">
    <div class="chessboard w-96 h-96 bg-red-800"></div>
</div> 

    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js" integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/chessgame.js"></script>
</body>
</html>